#autosave-area {
    padding: 10px;
    border: 1.5px dotted black;
    color: white;
    text-align: center;
    margin-top: 20px;
}

.success {
    background-color: green;
}

.error {
    background-color: red;
}