body {
    overflow-x: hidden;
}

canvas {
    border: 2px dotted #564b47;
}

#header {
    min-width: 320px;
    padding: 0;
    margin: 0;
    background-color: #003865;
}

.button {
    background-color: #003865;
    color: snow;
    border: none;
    padding: 10px 15px;
    margin: 0px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    transition-duration: 0.4s;
}

.submit {
    background-color: #006522;
}

input[type=button] {
    background-color: #00386500;
    color: snow;
    border: none;
}

.button:hover {
    background-color: #002341; 
    color: white;
}

.submit:hover {
    background-color: #003512;
    color: white;
}

.button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.codeControls {
    padding: 20px;
}

code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

.codeHeading {
    color: white;
}

#renderedDOM {
    background-color: white;
    padding: 20px;
    color: black;
    max-height: 600px;
    min-height: 300px;
    overflow-x: none;
    resize: vertical;
    overflow-y: scroll;
}

#dom-controls {
    padding: 10px;
}

