.CodeMirror {
    border: 1px solid #eee;
    resize: vertical;
    font-family: "Courier";
    font-size: 1.5em;
    min-height: 250px;
    max-height: 600px;
    height: 250px;
    max-width: 100%;
    background-color: #efefef; 
}

.example {
    font-family: "Courier";
    font-size: 1em;
}

.CodeMirror::-webkit-scrollbar {
    width: 10px;
    padding: 5px;
    padding: 2px;
}

.CodeMirror::-webkit-scrollbar-track {
    width: 100%;
    padding: 2px;
    background-color: white;
}

.CodeMirror::-webkit-scrollbar-thumb {
    width: 80%;
    background-color: #dadada;
    padding: 10px;
    border: 2px sold black;
    background-clip: padding-box;
}

.cm-keyword {
    color: purple;
}

.cm-string {
    color: #a11;
}

.cm-def {
    color: #00f;
}

.cm-property {
    color: #00f;
}

.cm-number {
    color: #164;
}
