#output {
    min-height: 100px;
    max-height: 350px;
    height: 100%;
    resize: vertical;
    overflow-y: scroll !important;
}

#fakeConsole {
    min-height: 100px;
    max-height: 350px;
    height: 100%;
    resize: vertical;
    overflow-y: scroll !important;
}

#outputwrap{
    height: 100%;
}

#codeOutput{
    min-width: 300px;
    display: none;
}

#consoleOutput{
    min-width: 300px;
}

#graphicscontrols{
    min-width: 200px;
}