#output {
    overflow-y: scroll !important;
    min-height: 100px;
    max-height: 450px;
    resize: vertical;
}

#fakeConsole {
    min-height: 100px;
    max-height: 450px;
    resize: vertical;
    overflow-y: scroll !important;
}

