.pbsection{
    /* text-align: center; */
    max-width: 100%;
    margin: 0 auto;
    padding-top: 10px;
}

#pb {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    margin: 0 auto;
}

.step {
    text-align: center;
}

.bullets {
    /* border: 1px solid azure; */
    height: 36px;
    width: 36px;
    font-size: medium;
    border-radius: 100%;
    color: azure;
    background-color: #003865;
    display: inline-block;
    position: relative;
    transition: background-color 500ms;
    line-height: 34px;
    cursor: pointer;
}

.bullets.completed {
    color: #003865;
    background-color: azure;
}

.bullets.currentstep {
    color: azure;
    background-color: rgb(0, 140, 255);
}

.line {
    position: absolute;
    margin-left: 36px;
    margin-top: -18px;
    height: 5px;
    background-color: azure;
}

.emptyline {
    position: absolute;
    margin-left: 36px;
    margin-top: -18px;
    height: 5px;
    background-color: #003865;
    border: 2px solid #003865;
}

