#custom-handle {
    top: 50%;
    margin-top: -.6em;
    text-align: center;
    color: white;
    background-color: rgb(128, 0, 127);
}

#slider{
    margin: 40px 5px;
    background: rgb(0,0,255);
    background: linear-gradient(90deg, rgba(0,0,255,1) 0%,rgba(255,0,0,1) 100%);
}

label {
    text-align: center;
}

#slower-label {
    margin-top: -.5em;
    text-align: right;
    padding: 40px 5px;
    width: auto;
}

#faster-label {
    margin-top: -.5em;
    text-align: left;
    padding: 40px 5px;
    width: auto;
}

#speedLabel{
    margin-top: -.5em;
    padding: 40px 0;
}
