#custom-handle {
    top: 50%;
    margin-top: -.6em;
    text-align: center;
    line-height: 1.6em;
    color: white;
    background-color: rgb(128, 0, 127);
}

#slider{
    width: 100%;
    background: rgb(0,0,255);
    background: linear-gradient(90deg, rgba(0,0,255,1) 0%,rgba(255,0,0,1) 100%);
}

label {
    text-align: center;
}

#slower-label {
    margin-top: -.5em;
    text-align: right;
}

#faster-label {
    margin-top: -.5em;
    text-align: left;
}