.codeArea  {
    font-size: 10px;
}

#tutorialSpace {
    background-color: white;
    padding: 10px;
    overflow-y: scroll;
    resize: vertical;
    height: 250px;
    min-height: 250px;
    max-height: 600px;
}

#tutorialSpace::-webkit-scrollbar {
    width: 10px;
    padding: 5px;
    padding: 2px;
}

#tutorialSpace::-webkit-scrollbar-track {
    width: 100%;
    padding: 2px;
    background-color: white;
}

#tutorialSpace::-webkit-scrollbar-thumb {
    width: 80%;
    background-color: #dadada;
    padding: 10px;
    border: 2px sold black;
    background-clip: padding-box;
}

.codeArea h1 {
    font-size: 4em;
}

.codeArea h2 {
    font-size: 3.5em;
}

.codeArea h3 {
    font-size: 3em;
}

.codeArea h4 {
    font-size: 2.5em;
}

.codeArea h5 {
    font-size: 2em;
}

.codeArea p {
    width: 50ch;
    max-width: 100%;
    font-size: 1.5em;
}

.codeArea table {
    font-size: 1.4em;
}

#codeBlock table {
    table-layout: fixed;
    width: 100%;
}

#tutorialSpace table tr {
    border: 3px solid black;
}

#tutorialSpace table td {
    border: 2px solid black;
    width: 45ch;
    max-width: 100%;
    padding: 10px;
    text-align: left !important; 
}

#tutorialSpace table th {
    background-color: lightgray;
    font-size: 0.8em;
    padding: 10px;
    text-align: center !important;
}

pre {
    padding: 10px;
    background-color: #efefef;
    
}

pre code {
    display: block;
    background: none;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    max-width: 100%;
    padding: 0;
}

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5 em;
}

#tutorialSpace img {
    max-width: 100%;
    object-fit: cover;
}

#resetCode {
    display: none;
}

